{{#each list}}
<div class="dayForecast">
	<h3 class="Day">Today</h3>
	
	<p>Temperature: {{this.temp.day}}</p>
	<p>Conditions: {{this.weather.0.description}}</p>
	<p>Humidity: {{this.humidity}}</p>
	<p>Wind Speed: {{this.speed}}</p>

</div>
{{/each}}